body {
    /*    width: 640px;
    height: 1136px;*/
    font-family: OS-Light;
}
#app {
    width: inherit;
    height: inherit;
}
#example {
    width: 80%;
    height: 470px;
    position: absolute;
    top: 11%;
    left: 10%;
}
header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 10%;
}
.center > h3 {
    color: #ffffff;
    letter-spacing: 2px;
    font-family: OS-Light;
    font-size: 1.5em;
}
.center > h3 > small {
    color: #ffffff;
    letter-spacing: 2px;
    font-family: OS-Light;
}
.header-footer-bg {
    background-color: #7ea1b6;
}
footer {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 5%;
    color: #ffffff;
}
footer > div > small {
    padding-top: 8px;
    padding-right: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.center {
    position: absolute;
    top: 16%;
    left: 14%;
}
/*
 *  CUSTOM STYLING
 */
